body{
    margin: 0;
    padding: 0;

}

.weather{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;flex-direction: column;
    width: 350px;
    margin: 0px auto ;
    background: linear-gradient(rgb(7, 123, 218), rgb(15, 190, 103));
}
.nameCity{
    font-size: 40px;
    background-color: rgb(19, 148, 187);
    color: #fff;
    width: 100%;
    border-radius: 5px;
    text-align: center;
}
.gradus{
    font-size: 45px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    text-align: center;
    background-color: rgb(24, 187, 38);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px 0;
}

.clouds{
    background-color: rgb(49, 14, 204);
    color: #fff;
    padding: 10px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
}

.getBtn{
    width: 100px;
    padding: 12px;
    font-size: 18px;
    outline: none;
    border: none;
    background-color: green;
    color: #fff;
    
}

.search{
    margin:auto;
    margin-top: 20px;
    width: 390px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.search .searchInp{
    width: 100%;
    padding: 10px;
    outline: none;
    border: 2px solid green;
    font-size: 18px;
}